/target/
/.settings/
.commit
.idea/
*.iml
tmp/*log*
tmp/*docker*
tmp/pid
overrideProperties/
nohup.out
database/*.db
database/*.db.safe
database/*.dmp
database/indexes/**/*.done
database/images/**
database/*csv
database/auth
docs/_build
src/main/resources/templates/node_modules/
src/main/resources/scripts/node_modules/
/.gradle/
.keystore
docs/_build/
